.main__wrapper {
    background-color: var(--colors-gray-100);
    min-height: 100vh;
}

.main__wrapper-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_wrapper-container_box {
    width: 540px;
}

.main__title {
    color: var(--colors-green-100);
    font-size: var(--fontSizes-xxl);
    line-height: var(--lineHeights-xxl);
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

.main__text {
    font-family: 'Asap', sans-serif;
    font-size: var(--fontSizes-md);
    font-weight: var(--fontWeights-400);
    line-height: var(--lineHeights-md);
    color: var(--colors-green-200);
    max-width: 460px;
    margin-bottom: 40px;
}

.main__text-center {
    text-align: center;
}

.main__text-blur {
    font-family: 'Asap', sans-serif;
    font-size: var(--fontSizes-md);
    line-height: var(--lineHeights-md);
    font-weight: var(--fontWeights-400);
    color: var(--colors-green-200);
    filter: blur(4px);
    text-transform: capitalize;
    max-width: 460px;
}